 <li class="restaurant-item">
          <article>
            <h2><%= restaurant.name%></h2>
            <div class="restaurant-meta">
              <p><%= restaurant.cuisin%></p>
              <p><%= restaurant.adress%></p>
            </div>
            <p>
              <%= restaurant.description%>
            </p>
            <div class="restaurant-actions">
              <a href="<%= restaurant.website%>">음식점 사이트</a>
            </div>
          </article>
        </li>