<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodMall</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/restaurants.css" />
    <script type="text/javascript" src="scripts/responsive.js" defer></script>
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">푸드몰</a></div>
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/restaurants">음식점 보기</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">맛집 공유하기</a>
          </li>
          <li class="nav-item"><a href="/about">About 푸드몰</a></li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="mobile-drawer">
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/restaurants">음식점 보기</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">맛집 공유하기</a>
          </li>
          <li class="nav-item"><a href="/about">About 푸드몰</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <h1>음식점 찾아보기</h1>
      <p>혹시 당신의 인생맛집을 찾을지도 몰라요. Look that!</p>
      <!--ejs 문법으로 동적인 값 전달하기-->
      <p>등록된 전국 맛집 갯수 : <%= restaurantsNum %></p>
      <ul id="restaurants-list">
        <% for ( const restaurant of restaurants){ %>
        <li class="restaurant-item">
          <article>
            <h2><%= restaurant.name%></h2>
            <div class="restaurant-meta">
              <p><%= restaurant.cuisin%></p>
              <p><%= restaurant.adress%></p>
            </div>
            <p>
              <%= restaurant.description%>
            </p>
            <div class="restaurant-actions">
              <a href="<%= restaurant.website%>">음식점 사이트</a>
            </div>
          </article>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
