<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/aside') %> 
    <main>
      <h1>음식점 이름 : <%=rid%></h1>
      <p>도시 | 주소</p>
      <p>설명</p>
      <p><a href="">음식점 사이트</a></p>
    </main>
    <%- include('includes/footer') %> 
  </body>
</html>
